<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a href="#"><i class="fa fa-user"></i>设备模块<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/devices/add">设备添加</a>
                    </li>
                    <li>
                        <a href="/devices">设备列表</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-play-circle"></i>手机号模块<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/phones/add">手机号添加</a>
                    </li>
                    <li>
                        <a href="/phones">手机号列表</a>
                    </li>
                </ul>
            </li>
            <li>
            <!--     <a href="#"><i class="fa fa-cloud"></i> 链接模块<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/urls/add">添加链接</a>
                    </li>
                    <li>
                        <a href="/urls">链接列表</a>
                    </li>
                </ul>
            </li> -->
            <li>
                <a href="/admin/esc">
                    <i class="fa fa-mail-reply"></i> 退出
                </a>
            </li>
        </ul>
    </div>
</nav>